@font-face {
  font-family: "scicon"; /* Project id 2582004 */
  src: url('iconfont.woff2?t=1622467825409') format('woff2'),
       url('iconfont.woff?t=1622467825409') format('woff'),
       url('iconfont.ttf?t=1622467825409') format('truetype');
}

[class*="scicon-"] {
  font-family: "scicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scicon-customer-service-2-line:before {
  content: "\e740";
}

.scicon-customer-service-fill:before {
  content: "\e741";
}

.scicon-flag-2-fill:before {
  content: "\e742";
}

.scicon-customer-service-line:before {
  content: "\e743";
}

.scicon-flag-fill:before {
  content: "\e744";
}

.scicon-flag-2-line:before {
  content: "\e745";
}

.scicon-customer-service-2-fill:before {
  content: "\e746";
}

.scicon-donut-chart-line:before {
  content: "\e749";
}

.scicon-donut-chart-fill:before {
  content: "\e74a";
}

.scicon-flag-line:before {
  content: "\e74b";
}

.scicon-global-fill:before {
  content: "\e74c";
}

.scicon-honour-line:before {
  content: "\e74d";
}

.scicon-honour-fill:before {
  content: "\e74e";
}

.scicon-inbox-archive-line:before {
  content: "\e74f";
}

.scicon-global-line:before {
  content: "\e750";
}

.scicon-inbox-archive-fill:before {
  content: "\e751";
}

.scicon-inbox-line:before {
  content: "\e752";
}

.scicon-inbox-unarchive-fill:before {
  content: "\e753";
}

.scicon-inbox-unarchive-line:before {
  content: "\e754";
}

.scicon-line-chart-line:before {
  content: "\e755";
}

.scicon-line-chart-fill:before {
  content: "\e756";
}

.scicon-inbox-fill:before {
  content: "\e757";
}

.scicon-mail-add-line:before {
  content: "\e758";
}

.scicon-mail-check-fill:before {
  content: "\e759";
}

.scicon-links-fill:before {
  content: "\e75a";
}

.scicon-links-line:before {
  content: "\e75b";
}

.scicon-mail-check-line:before {
  content: "\e75c";
}

.scicon-mail-add-fill:before {
  content: "\e75d";
}

.scicon-mail-close-line:before {
  content: "\e75e";
}

.scicon-mail-download-line:before {
  content: "\e75f";
}

.scicon-mail-close-fill:before {
  content: "\e760";
}

.scicon-mail-fill:before {
  content: "\e761";
}

.scicon-mail-forbid-fill:before {
  content: "\e762";
}

.scicon-mail-line:before {
  content: "\e763";
}

.scicon-mail-forbid-line:before {
  content: "\e764";
}

.scicon-mail-lock-fill:before {
  content: "\e765";
}

.scicon-mail-download-fill:before {
  content: "\e766";
}

.scicon-mail-lock-line:before {
  content: "\e767";
}

.scicon-mail-open-fill:before {
  content: "\e768";
}

.scicon-mail-open-line:before {
  content: "\e769";
}

.scicon-mail-send-line:before {
  content: "\e76a";
}

.scicon-mail-send-fill:before {
  content: "\e76b";
}

.scicon-mail-settings-line:before {
  content: "\e76c";
}

.scicon-mail-star-line:before {
  content: "\e76d";
}

.scicon-mail-star-fill:before {
  content: "\e76e";
}

.scicon-mail-unread-line:before {
  content: "\e76f";
}

.scicon-mail-unread-fill:before {
  content: "\e770";
}

.scicon-mail-volume-line:before {
  content: "\e771";
}

.scicon-medal-2-fill:before {
  content: "\e772";
}

.scicon-medal-line:before {
  content: "\e773";
}

.scicon-medal-2-line:before {
  content: "\e774";
}

.scicon-pie-chart-2-fill:before {
  content: "\e775";
}

.scicon-pie-chart-2-line:before {
  content: "\e776";
}

.scicon-pie-chart-box-line:before {
  content: "\e777";
}

.scicon-trademark-line:before {
  content: "\e778";
}

.scicon-window-2-line:before {
  content: "\e779";
}

.scicon-window-2-fill:before {
  content: "\e77a";
}

.scicon-window-fill:before {
  content: "\e77b";
}

.scicon-window-line:before {
  content: "\e77c";
}

.scicon-send-plane-2-line:before {
  content: "\e77d";
}

.scicon-chat-1-fill:before {
  content: "\e77e";
}

.scicon-chat-1-line:before {
  content: "\e77f";
}

.scicon-ancient-gate-fill:before {
  content: "\e6af";
}

.scicon-ancient-gate-line:before {
  content: "\e6b0";
}

.scicon-bank-line:before {
  content: "\e6b1";
}

.scicon-ancient-pavilion-line:before {
  content: "\e6b2";
}

.scicon-building-3-line:before {
  content: "\e6b5";
}

.scicon-building-2-line:before {
  content: "\e6b6";
}

.scicon-building-fill:before {
  content: "\e6b7";
}

.scicon-building-2-fill:before {
  content: "\e6b8";
}

.scicon-building-4-line:before {
  content: "\e6bb";
}

.scicon-building-line:before {
  content: "\e6bc";
}

.scicon-government-line:before {
  content: "\e6bd";
}

.scicon-government-fill:before {
  content: "\e6be";
}

.scicon-home-2-line:before {
  content: "\e6bf";
}

.scicon-bank-fill:before {
  content: "\e6c0";
}

.scicon-community-line:before {
  content: "\e6c1";
}

.scicon-home-3-line:before {
  content: "\e6c2";
}

.scicon-building-3-fill:before {
  content: "\e6c3";
}

.scicon-home-4-line:before {
  content: "\e6c6";
}

.scicon-home-3-fill:before {
  content: "\e6c7";
}

.scicon-home-2-fill:before {
  content: "\e6c8";
}

.scicon-home-5-fill:before {
  content: "\e6cb";
}

.scicon-home-6-line:before {
  content: "\e6cc";
}

.scicon-home-6-fill:before {
  content: "\e6cd";
}

.scicon-home-7-fill:before {
  content: "\e6ce";
}

.scicon-home-7-line:before {
  content: "\e6cf";
}

.scicon-ancient-pavilion-fill:before {
  content: "\e6d0";
}

.scicon-home-8-line:before {
  content: "\e6d1";
}

.scicon-building-4-fill:before {
  content: "\e6d2";
}

.scicon-home-fill:before {
  content: "\e6d3";
}

.scicon-home-8-fill:before {
  content: "\e6d4";
}

.scicon-community-fill:before {
  content: "\e6d5";
}

.scicon-home-heart-fill:before {
  content: "\e6d6";
}

.scicon-home-heart-line:before {
  content: "\e6d7";
}

.scicon-home-gear-fill:before {
  content: "\e6d8";
}

.scicon-home-line:before {
  content: "\e6d9";
}

.scicon-home-smile-fill:before {
  content: "\e6da";
}

.scicon-home-smile-line:before {
  content: "\e6db";
}

.scicon-hospital-line:before {
  content: "\e6de";
}

.scicon-hospital-fill:before {
  content: "\e6df";
}

.scicon-home-wifi-line:before {
  content: "\e6e0";
}

.scicon-hotel-line:before {
  content: "\e6e1";
}

.scicon-store-2-line:before {
  content: "\e6e2";
}

.scicon-store-2-fill:before {
  content: "\e6e3";
}

.scicon-store-3-line:before {
  content: "\e6e4";
}

.scicon-hotel-fill:before {
  content: "\e6e5";
}

.scicon-home-gear-line:before {
  content: "\e6e6";
}

.scicon-store-line:before {
  content: "\e6e7";
}

.scicon-store-3-fill:before {
  content: "\e6e8";
}

.scicon-store-fill:before {
  content: "\e6e9";
}

.scicon-home-wifi-fill:before {
  content: "\e6ea";
}

.scicon-archive-drawer-fill:before {
  content: "\e6eb";
}

.scicon-advertisement-line:before {
  content: "\e6ec";
}

.scicon-advertisement-fill:before {
  content: "\e6ed";
}

.scicon-archive-line:before {
  content: "\e6ee";
}

.scicon-archive-drawer-line:before {
  content: "\e6ef";
}

.scicon-archive-fill:before {
  content: "\e6f0";
}

.scicon-at-fill:before {
  content: "\e6f1";
}

.scicon-at-line:before {
  content: "\e6f2";
}

.scicon-attachment-fill:before {
  content: "\e6f3";
}

.scicon-award-fill:before {
  content: "\e6f4";
}

.scicon-award-line:before {
  content: "\e6f5";
}

.scicon-bar-chart-2-line:before {
  content: "\e6f6";
}

.scicon-bar-chart-fill:before {
  content: "\e6f7";
}

.scicon-bar-chart-box-line:before {
  content: "\e6f8";
}

.scicon-bar-chart-grouped-fill:before {
  content: "\e6fb";
}

.scicon-bar-chart-2-fill:before {
  content: "\e702";
}

.scicon-bar-chart-box-fill:before {
  content: "\e703";
}

.scicon-bar-chart-grouped-line:before {
  content: "\e704";
}

.scicon-bar-chart-horizontal-fill:before {
  content: "\e705";
}

.scicon-bar-chart-horizontal-line:before {
  content: "\e706";
}

.scicon-bar-chart-line:before {
  content: "\e707";
}

.scicon-bookmark-2-fill:before {
  content: "\e708";
}

.scicon-bookmark-2-line:before {
  content: "\e709";
}

.scicon-bookmark-fill:before {
  content: "\e70b";
}

.scicon-bookmark-line:before {
  content: "\e70c";
}

.scicon-briefcase-2-fill:before {
  content: "\e70e";
}

.scicon-briefcase-2-line:before {
  content: "\e70f";
}

.scicon-briefcase-3-line:before {
  content: "\e710";
}

.scicon-briefcase-3-fill:before {
  content: "\e711";
}

.scicon-briefcase-4-fill:before {
  content: "\e712";
}

.scicon-briefcase-5-fill:before {
  content: "\e713";
}

.scicon-briefcase-fill:before {
  content: "\e714";
}

.scicon-briefcase-5-line:before {
  content: "\e716";
}

.scicon-bubble-chart-fill:before {
  content: "\e717";
}

.scicon-bubble-chart-line:before {
  content: "\e719";
}

.scicon-calculator-line:before {
  content: "\e71c";
}

.scicon-calculator-fill:before {
  content: "\e71d";
}

.scicon-calendar-2-fill:before {
  content: "\e71e";
}

.scicon-briefcase-4-line:before {
  content: "\e71f";
}

.scicon-briefcase-line:before {
  content: "\e720";
}

.scicon-calendar-2-line:before {
  content: "\e721";
}

.scicon-calendar-check-fill:before {
  content: "\e722";
}

.scicon-calendar-check-line:before {
  content: "\e723";
}

.scicon-calendar-event-fill:before {
  content: "\e724";
}

.scicon-calendar-event-line:before {
  content: "\e725";
}

.scicon-calendar-line:before {
  content: "\e726";
}

.scicon-calendar-fill:before {
  content: "\e727";
}

.scicon-calendar-todo-fill:before {
  content: "\e728";
}

.scicon-calendar-todo-line:before {
  content: "\e729";
}

.scicon-cloud-fill:before {
  content: "\e72a";
}

.scicon-attachment-line:before {
  content: "\e72c";
}

.scicon-cloud-line:before {
  content: "\e72d";
}

.scicon-cloud-off-fill:before {
  content: "\e72e";
}

.scicon-copyleft-line:before {
  content: "\e72f";
}

.scicon-copyleft-fill:before {
  content: "\e730";
}

.scicon-copyright-fill:before {
  content: "\e731";
}

.scicon-cloud-off-line:before {
  content: "\e732";
}

.scicon-creative-commons-by-line:before {
  content: "\e733";
}

.scicon-copyright-line:before {
  content: "\e734";
}

.scicon-creative-commons-fill:before {
  content: "\e735";
}

.scicon-creative-commons-nc-line:before {
  content: "\e736";
}

.scicon-creative-commons-nd-fill:before {
  content: "\e737";
}

.scicon-creative-commons-by-fill:before {
  content: "\e738";
}

.scicon-creative-commons-line:before {
  content: "\e739";
}

.scicon-creative-commons-nc-fill:before {
  content: "\e73a";
}

.scicon-creative-commons-zero-fill:before {
  content: "\e73b";
}

.scicon-creative-commons-sa-line:before {
  content: "\e73c";
}

.scicon-creative-commons-zero-line:before {
  content: "\e73d";
}

.scicon-creative-commons-nd-line:before {
  content: "\e73e";
}

.scicon-creative-commons-sa-fill:before {
  content: "\e73f";
}

.scicon-home-5-line:before {
  content: "\e6b4";
}

.scicon-home-4-fill:before {
  content: "\e6b3";
}

.scicon-home-smile-2-line:before {
  content: "\e6b9";
}

.scicon-home-smile-2-fill:before {
  content: "\e6ba";
}

.scicon-bookmark-3-fill:before {
  content: "\e6c4";
}

.scicon-bookmark-3-line:before {
  content: "\e6c5";
}

.scicon-chat-smile-line:before {
  content: "\e6f9";
}

.scicon-chat-smile-fill:before {
  content: "\e6fa";
}

.scicon-chat-smile-2-fill:before {
  content: "\e6fc";
}

.scicon-chat-smile-2-line:before {
  content: "\e6fd";
}

.scicon-feedback-fill:before {
  content: "\e6fe";
}

.scicon-message-2-fill:before {
  content: "\e6ff";
}

.scicon-message-2-line:before {
  content: "\e700";
}

.scicon-feedback-line:before {
  content: "\e701";
}

.scicon-layout-fill:before {
  content: "\e715";
}

.scicon-layout-line:before {
  content: "\e718";
}

.scicon-magic-fill:before {
  content: "\e71a";
}

.scicon-magic-line:before {
  content: "\e71b";
}

.scicon-code-fill:before {
  content: "\e72b";
}

.scicon-qr-code-line:before {
  content: "\e747";
}

.scicon-qr-code-fill:before {
  content: "\e748";
}

